# Eclipse settings folder
.settings/*

# IntelliJ IDEA settings and moduule files
.idea/*
MEDS.iml

# Meta Information (MANIFEST)
META-INF/*

# Server log files
logs/*

# Binary files
bin/*

# Hibernate configuration file
src/hibernate.cfg.xml
