# Eclipse settings folder
.settings/*

# IntelliJ IDEA settings and moduule files
.idea/*
*.iml

# Hibernate configuration file
src/main/resources/hibernate.cfg.xml

# Maven Target directory
target/*
