<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="filename">logs/meds.log</Property>
      </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d %-5p [%t] %C{1} (%F:%L) - %m%n"/> -->
            <PatternLayout pattern="%d %-5p :: %m%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%d %-5p :: %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Debug" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="Info" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="Warn" level="warn">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="Error" level="error">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="Fatal" level="fatal">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
